step-functions/audit_event_shaper.asl.json
{
  "Comment": "A Hello World example demonstrating various state types of the Amazon States Language",
  "StartAt": "Get Audit name components",
  "States": {
    "Get Audit name components": {
      "Type": "Pass",
      "Parameters": {
        "prefix.$": "$$.Execution.Input.detail.auditPrefix",
        "type.$": "$$.Execution.Input.detail-type"
      },
      "ResultPath": "$.audit",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "build",
      "Branches": [
        {
          "StartAt": "Create AuditContext",
          "States": {
            "Create AuditContext": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CredentialSubjectFunctionArn}",
                "Payload.$": "$$.Execution.Input.detail"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "ResultPath": "$.restricted",
              "End": true
            }
          }
        },
        {
          "StartAt": "Time In Milliseconds",
          "States": {
            "Time In Milliseconds": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "dateTime.$": "$$.State.EnteredTime"
                },
                "FunctionName": "${TimeInMillisecondsFunctionArn}"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "ResultPath": "$.epochMilliseconds",
              "End": true
            }
          }
        }
      ]
    },
    "build": {
      "Type": "Pass",
      "Parameters": {
        "event_name.$": "States.Format('{}_{}', $[0].audit.prefix, $[0].audit.type)",
        "event_timestamp_ms.$": "$[1].epochMilliseconds.Payload",
        "component_id.$": "$$.Execution.Input.detail.issuer",
        "restricted.$": "$[0].restricted.Payload",
        "user.$": "$$.Execution.Input.detail.user"
      },
      "End": true
    }
  }
}
