step-functions/check_session.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Check SessionId is present",
  "States": {
    "Check SessionId is present": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.session-id",
          "IsPresent": true,
          "Next": "Fetch Current Time"
        }
      ],
      "Default": "Err: No sessionId provided"
    },
    "Fetch Current Time": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${CurrentTimeFunctionArn}"
      },
      "Next": "Fetch Session",
      "ResultSelector": {
        "value.$": "$.Payload"
      },
      "ResultPath": "$.currentTime"
    },
    "Fetch Session": {
      "Type": "Task",
      "Next": "Check Session Exists",
      "Parameters": {
        "TableName": "session-${CommonStackName}",
        "KeyConditionExpression": "sessionId = :value",
        "ExpressionAttributeValues": {
          ":value": {
            "S.$": "$.session-id"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultSelector": {
        "count.$": "$.Count",
        "items.$": "$.Items"
      },
      "ResultPath": "$.sessionQuery"
    },
    "Check Session Exists": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sessionQuery.count",
          "NumericLessThanEquals": 0,
          "Next": "Err: No session found"
        }
      ],
      "Default": "Check Session Has Not Expired"
    },
    "Check Session Has Not Expired": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.currentTime.value",
          "StringGreaterThanPath": "$.sessionQuery.items[0].expiryDate.N",
          "Next": "Err: Session Expired"
        }
      ],
      "Default": "Parallel (1)"
    },
    "Parallel (1)": {
      "Type": "Parallel",
      "Next": "Session OK",
      "Branches": [
        {
          "StartAt": "Is Persistent SessionId Present?",
          "States": {
            "Is Persistent SessionId Present?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.sessionQuery.items[0].persistentSessionId",
                  "IsPresent": true,
                  "Next": "Get User Session Info"
                }
              ],
              "Default": "Get User Info Without Persistent Session Id"
            },
            "Get User Info Without Persistent Session Id": {
              "Type": "Pass",
              "Parameters": {
                "govuk_signin_journey_id.$": "$.sessionQuery.items[0].clientSessionId.S",
                "ip_address.$": "$.sessionQuery.items[0].clientIpAddress.S",
                "session_id.$": "$.sessionQuery.items[0].sessionId.S",
                "user_id.$": "$.sessionQuery.items[0].subject.S"
              },
              "ResultPath": "$.UserSessionInfo",
              "End": true
            },
            "Get User Session Info": {
              "Type": "Pass",
              "Parameters": {
                "govuk_signin_journey_id.$": "$.sessionQuery.items[0].clientSessionId.S",
                "ip_address.$": "$.sessionQuery.items[0].clientIpAddress.S",
                "persistent_session_id.$": "$.sessionQuery.items[0].persistentSessionId.S",
                "session_id.$": "$.sessionQuery.items[0].sessionId.S",
                "user_id.$": "$.sessionQuery.items[0].subject.S"
              },
              "ResultPath": "$.UserSessionInfo",
              "End": true
            }
          }
        },
        {
          "StartAt": "Check for TxMA Audit Device Header",
          "States": {
            "Check for TxMA Audit Device Header": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$$.Execution.Input.txma-audit-encoded",
                  "IsPresent": true,
                  "Next": "Found TxMa Audit Header"
                }
              ],
              "Default": "TxMa Audit Header Not Found"
            },
            "Found TxMa Audit Header": {
              "Type": "Pass",
              "Parameters": {
                "value.$": "$$.Execution.Input.txma-audit-encoded"
              },
              "ResultPath": "$.TxmaAuditHeader",
              "End": true
            },
            "TxMa Audit Header Not Found": {
              "Type": "Pass",
              "Parameters": {
                "value": "{}"
              },
              "ResultPath": "$.TxmaAuditHeader",
              "End": true
            }
          }
        }
      ]
    },
    "Err: Session Expired": {
      "Type": "Pass",
      "End": true,
      "Parameters": {
        "status": "SESSION_EXPIRED"
      }
    },
    "Err: No session found": {
      "Type": "Pass",
      "End": true,
      "Parameters": {
        "status": "SESSION_NOT_FOUND"
      }
    },
    "Session OK": {
      "Type": "Pass",
      "End": true,
      "Parameters": {
        "status": "SESSION_OK",
        "clientId.$": "$[0].sessionQuery.items[0].clientId.S",
        "userAuditInfo.$": "$[0].UserSessionInfo",
        "txmaAuditHeader.$": "$[1].TxmaAuditHeader.value"
      }
    },
    "Err: No sessionId provided": {
      "Type": "Pass",
      "End": true,
      "Result": {
        "status": "SESSION_NOT_PROVIDED"
      }
    }
  }
}
