step-functions/nino_check.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Check sessionId is present",
  "States": {
    "Check sessionId is present": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.sessionId",
            "IsPresent": true
          },
          "Next": "Error: No sessionId was provided"
        }
      ],
      "Default": "Check nino is present"
    },
    "Error: No sessionId was provided": {
      "Type": "Pass",
      "End": true
    },
    "Check nino is present": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.nino",
            "IsPresent": true
          },
          "Next": "Error: No nino was provided"
        }
      ],
      "Default": "Query user attempts"
    },
    "Query user attempts": {
      "Type": "Task",
      "Next": "Check if user attempts exists in db",
      "Parameters": {
        "TableName": "${NinoAttemptsTable}",
        "KeyConditionExpression": "id = :value",
        "ExpressionAttributeValues": {
          ":value": {
            "S.$": "$.sessionId"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.check-attempts-exist"
    },
    "Check if user attempts exists in db": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.check-attempts-exist.Count",
          "NumericGreaterThan": 0,
          "Next": "Check user attempts is not 0 or 1"
        }
      ],
      "Default": "Create new user attempt entry"
    },
    "Create new user attempt entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${NinoAttemptsTable}",
        "Item": {
          "id": {
            "S.$": "$.sessionId"
          },
          "attempts": {
            "N": "0"
          },
          "outcome": {
            "S": "FAIL"
          }
        },
        "ConditionExpression": "attribute_not_exists(id)"
      },
      "Next": "Update number of attempts by user",
      "ResultPath": null
    },
    "Check user attempts is not 0 or 1": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.check-attempts-exist.Items[0].attempts.N",
              "StringGreaterThanEquals": "2"
            }
          ],
          "Next": "Error: Maximum number of attempts exceeded"
        }
      ],
      "Default": "Update number of attempts by user"
    },
    "Update number of attempts by user": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${NinoAttemptsTable}",
        "Key": {
          "id": {
            "S.$": "$.sessionId"
          }
        },
        "UpdateExpression": "ADD attempts :attempts",
        "ExpressionAttributeValues": {
          ":attempts": {
            "N": "1"
          }
        }
      },
      "Next": "Fetch Person Identity Table Name",
      "ResultPath": null
    },
    "Fetch Person Identity Table Name": {
      "Type": "Task",
      "Next": "Query user by sessionId",
      "Parameters": {
        "Name": "/${CommonStackName}/PersonIdentityTableName"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultPath": "$.personIdentityTableName"
    },
    "Query user by sessionId": {
      "Type": "Task",
      "Next": "Check user details exist for given nino",
      "Parameters": {
        "TableName.$": "$.personIdentityTableName.Parameter.Value",
        "KeyConditionExpression": "sessionId = :value",
        "ExpressionAttributeValues": {
          ":value": {
            "S.$": "$.sessionId"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.userDetails"
    },
    "Check user details exist for given nino": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.userDetails.Count",
            "NumericGreaterThan": 0
          },
          "Next": "Error: No user for given nino found"
        }
      ],
      "Default": "Get User Agent"
    },
    "Error: Maximum number of attempts exceeded": {
      "Type": "Pass",
      "End": true
    },
    "Error: No nino was provided": {
      "Type": "Pass",
      "End": true
    },
    "Error: No user for given nino found": {
      "Type": "Pass",
      "End": true
    },
    "Get User Agent": {
      "Type": "Task",
      "Next": "Get API URL",
      "Parameters": {
        "Name": "${UserAgent}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultPath": "$.userAgent",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      }
    },
    "Get API URL": {
      "Type": "Task",
      "Next": "Get OAuth Token",
      "Parameters": {
        "Name": "${NinoCheckUrl}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.apiURL"
    },
    "Get OAuth Token": {
      "Type": "Task",
      "Next": "Filter out jargon",
      "Parameters": {
        "SecretId": "${BearerTokenName}"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.oAuthToken",
      "ResultSelector": {
        "value.$": "$.SecretString"
      }
    },
    "Filter out jargon": {
      "Type": "Pass",
      "Next": "Call Matching API",
      "Parameters": {
        "sessionId.$": "$.sessionId",
        "nino.$": "$.nino",
        "userDetails": {
          "firstName.$": "$.userDetails.Items[0].names.L[0].M.nameParts.L[0].M.value.S",
          "lastName.$": "$.userDetails.Items[0].names.L[0].M.nameParts.L[1].M.value.S",
          "dob.$": "$.userDetails.Items[0].birthDates.L[0].M.value.S"
        },
        "userAgent.$": "$.userAgent.value",
        "apiURL.$": "$.apiURL.value",
        "oAuthToken.$": "$.oAuthToken.value"
      }
    },
    "Call Matching API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${MatchingFunctionArn}"
      },
      "Next": "Response Validation",
      "ResultSelector": {
        "hmrc_response": {
          "firstName.$": "$.Payload.firstName",
          "lastName.$": "$.Payload.lastName",
          "dateOfBirth.$": "$.Payload.dateOfBirth",
          "nino.$": "$.Payload.nino"
        }
      }
    },
    "Response Validation": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.hmrc_response.firstName",
              "IsPresent": true
            },
            {
              "Variable": "$.hmrc_response.lastName",
              "IsPresent": true
            },
            {
              "Variable": "$.hmrc_response.dateOfBirth",
              "IsPresent": true
            },
            {
              "Variable": "$.hmrc_response.nino",
              "IsPresent": true
            }
          ],
          "Next": "Update status to PASS"
        }
      ],
      "Default": "Error: HMRC came back with an error"
    },
    "Update status to PASS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${NinoAttemptsTable}",
        "Key": {
          "id": {
            "S.$": "$$.Execution.Input.sessionId"
          }
        },
        "UpdateExpression": "SET outcome = :outcome",
        "ExpressionAttributeValues": {
          ":outcome": {
            "S": "PASS"
          }
        }
      },
      "Next": "Fetch Auth Code Expiry",
      "ResultPath": null
    },
    "Fetch Auth Code Expiry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${CreateAuthCodeFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Fetch Session Table Name",
      "ResultPath": "$.expiry"
    },
    "Fetch Session Table Name": {
      "Type": "Task",
      "Next": "Set Auth Code for Session",
      "Parameters": {
        "Name": "/${CommonStackName}/SessionTableName"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultPath": "$.sessionTable"
    },
    "Set Auth Code for Session": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName.$": "$.sessionTable.Parameter.Value",
        "Key": {
          "sessionId": {
            "S.$": "$$.Execution.Input.sessionId"
          }
        },
        "UpdateExpression": "SET authorizationCode = :authCode, authorizationCodeExpiryDate = :expiry",
        "ExpressionAttributeValues": {
          ":authCode": {
            "S.$": "States.UUID()"
          },
          ":expiry": {
            "N.$": "States.Format('{}',$.expiry.Payload.authCodeExpiry)"
          }
        }
      },
      "Next": "Save NINO & sessionId to nino-users table",
      "ResultPath": "$.setAuthCode"
    },
    "Save NINO & sessionId to nino-users table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${NinoUsersTable}",
        "Item": {
          "sessionId": {
            "S.$": "$$.Execution.Input.sessionId"
          },
          "nino": {
            "S.$": "$.hmrc_response.nino"
          }
        },
        "ConditionExpression": "attribute_not_exists(sessionId)"
      },
      "Next": "Nino check successful",
      "ResultPath": "$.saveUser"
    },
    "Nino check successful": {
      "Type": "Pass",
      "End": true,
      "Parameters": {
        "firstName.$": "$.hmrc_response.firstName",
        "lastName.$": "$.hmrc_response.lastName",
        "dateOfBirth.$": "$.hmrc_response.dateOfBirth",
        "nino.$": "$.hmrc_response.nino"
      }
    },
    "Error: HMRC came back with an error": {
      "Type": "Pass",
      "End": true
    }
  }
}
